@import url('https://fonts.googleapis.com/css2?family=DotGothic16&display=swap');

@mixin center{
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin size($w,$h:$w){
    width: $w;
    height: $h
}

@mixin font-family(){
  font-family: "DotGothic16";
}

html,body{
    border: 0;
    margin: 0;
    box-sizing: border-box
}

.bg{
  position: fixed;
  z-index: 2;
  top:0;
  left:0;
  transition: 0.5s;
  background-image: url("../images/congrates\ bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

    @include center();
    @include size(100vw,100vh)
}

.notdisplay{
  opacity:0;
  pointer-events: none;
}

.tag{
  transition: 0.5s;
    @include size(30vw,50vh);
  @include center();
  h1{
    @include font-family();
  }
}

.axis{
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 40px;
  color: black;
  transition: 0.5s;
}

.axis:hover{

    color: palevioletred;

}

  
